*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container h2{
    text-align: center;
    margin-top: 150px;
}

.table{
    width: 45%;
    height: 45%;
    margin: 30px auto;
}

.table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
}

.table, th{
    background-color: rgb(161, 160, 160);
}

.table, td{
    background-color: rgb(238, 238, 228);
}
